@font-face {
  font-family: Play-Bold;
  src: url(./fonts/Play-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Play-Bold, Arial, Helvetica, sans-serif;
}

:root {
  --main-theme: #234044;
  --sub-theme: #578184;
  --item-theme: #d4e9ed;
  --white-theme: #f2fcff;
  --paragraph-theme: #444;
  --rating-star-theme: #ff6969;
  --not-rating-theme: #57a2a5;
  --button-theme-red: #ff3737;
  --button-theme-lightgreen: #29d272;
  --button-hover-theme-red: #ff6969;
  --button-hover-theme-green: #57a2a5;
  --button-hover-theme-lightgreen: #2de97e;
  --modal-theme: rgba(35, 64, 68, 0.65);
  --shadow-theme: rgba(5, 5, 11, 0.2);
  --transparent-theme: #0000;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--sub-theme);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

label,
input,
select,
button,
li {
  cursor: pointer;
}

input,
select {
  color: var(--main-theme);
  background-color: var(--white-theme);
}

.container {
  height: 100vh;
  background-color: var(--sub-theme);
}

dialog {
  margin: auto;
  width: 56rem;
  padding: 2.8rem 1.2rem 1.6rem;
  color: var(--main-theme);
  background-color: var(--item-theme);
  border: none;
  border-radius: 0.8rem;
}

.dialog-no-books form,
.dialog-sort form,
.dialog-user-list form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-sort form {
  gap: 2.8rem;
  padding: 0.8rem 0;
}

::backdrop {
  background-color: var(--modal-theme);
}

.title-of-dialog {
  text-align: center;
  margin-bottom: 2.8rem;
  font-size: 2.8rem;
}

.dialog-sort .title-of-dialog {
  margin-bottom: 1.2rem;
}

dialog p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  padding: 0 2rem;
}

dialog label {
  font-size: 2.2rem;
}

dialog input,
dialog select,
dialog option {
  width: 40rem;
  padding: 0.4rem 1.2rem;
  font-size: 2rem;
}

.dialog-sort .btn-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.dialog-add .btn-container,
.dialog-edit .btn-container {
  margin-top: 3.6rem;
}

dialog button {
  width: 16rem;
  padding: 0.8rem 0.4rem;
  font-size: 1.8rem;
  color: var(--white-theme);
  border-radius: 2rem;
}

.cancel-btn {
  background-color: var(--sub-theme);
}

.cancel-btn:hover {
  background-color: var(--button-hover-theme-green);
}

.add-btn, 
.confirm-btn,
.delete-btn,
.edit-btn,
.add-btn-for-recommendation {
  background-color: var(--button-theme-red);
}

.add-btn:hover, 
.confirm-btn:hover,
.delete-btn:hover,
.edit-btn:hover,
.add-btn-for-recommendation:hover {
  background-color: var(--button-hover-theme-red);
}

.sort-option-btn,
.wide-btn {
  width: 44rem;
}

.sort-option-btn {
  display: block;
  background-color: var(--button-theme-lightgreen);
}

.sort-option-btn:hover {
  background-color: var(--button-hover-theme-lightgreen);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.8rem 4rem;
  background-color: var(--main-theme);
  border-bottom: 0.4rem dashed var(--white-theme);
}

.first-header-row,
.second-header-row {
  display: flex;
  justify-content: space-between;
}

.row-left,
.row-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row-left {
  gap: 1.2rem;
}

.row-right {
  gap: 1.6rem;
}

.icons {
  width: 2.6rem;
  height: 2.6rem;
  filter: invert(99%) sepia(57%) saturate(3148%) hue-rotate(180deg) brightness(107%) contrast(106%);
  cursor: pointer;
}

.search-bar {
  width: 40rem;
  padding: 0.6rem 1.8rem;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  background-color: var(--item-theme);
  border: none;
  border-radius: 1.6rem;
}

.search-bar::placeholder {
  font-family: Roboto;
}

.search-bar:focus {
  background-color: var(--white-theme);
}

.sub-photo {
  width: 4.4rem;
  height: 4.4rem;
  object-fit: cover;
  object-position: 65%;
  border-radius: 50%;
  cursor: pointer;
}

.current-account,
.current-username {
  color: var(--white-theme);
}

.current-account {
  font-weight: 600;
  font-size: 1.6rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.current-username {
  font-size: 2rem;
}

.current-account:hover,
.current-username:hover {
  opacity: 0.8;
}

.header svg {
  width: 3rem;
  height: 3rem;
  fill: var(--white-theme);
}

.main-title {
  font-size: 3.2rem;
  color: var(--white-theme);
}

.sort-btn,
.new-book-btn {
  font-size: 1.8rem;
  color: var(--white-theme);
  border-radius: 2rem;
}

.sort-btn {
  padding: 0.8rem 3.2rem;
  background-color: var(--button-theme-lightgreen);
}

.sort-btn:hover {
  background-color: var(--button-hover-theme-lightgreen);
}

.new-book-btn {
  padding: 0.8rem 2.4rem;
  background-color: var(--button-theme-red);
}

.new-book-btn:hover {
  background-color: var(--button-hover-theme-red);
}

.main {
  display: grid;
  grid-template-columns: 1fr 34rem;
  grid-template-rows: 36rem 36rem;
  gap: 2.4rem;
  padding: 2.4rem 0 0 4.8rem;
  background-color: var(--sub-theme);
}

.section-title {
  margin: 0 2rem 2.4rem 0;
  font-size: 2.6rem;
  color: var(--white-theme);
}

.projects {
  grid-row: 1 / 3;
  background-color: var(--sub-theme);
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(46rem, 1fr));
  gap: 4rem 2rem;
  font-size: 2.4rem;
  color: var(--white-theme);
}

.book {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 44rem;
  padding: 2.4rem 1.6rem 2rem 2rem;
  background-color: var(--white-theme);
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.8rem 0.8rem var(--shadow-theme);
}

.book:hover {
  background-color: var(--item-theme);
}

.book-title,
.projects p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-title {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
  color: var(--main-theme);
}

.projects p {
  font-size: 1.8rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--paragraph-theme);
}

.projects .btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.rating {
  font-size: 2.2rem;
  color: var(--rating-star-theme);
  background-color: var(--transparent-theme);
  border: none;
}

.not-read-yet {
  color: var(--not-rating-theme);
}

.cross-btn {
  padding:0.2rem 0.6rem;
  font-size: 2.2rem;
  background-color: var(--transparent-theme);
  border: none;
}

.cross-btn:hover {
  color: var(--button-hover-theme-green);
}

.recommendations ul,
.other-bookshelves ul {
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: var(--item-theme);
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.8rem 0.8rem var(--shadow-theme);
}

.recommendations li {
  padding: 1.2rem 2rem 0.8rem;
  border-bottom: 0.1rem solid var(--white-theme);
}

.recommendations li:hover,
.other-bookshelves li:hover {
  background-color: var(--white-theme);
}

.recommendations li:first-child,
.other-bookshelves li:first-child {
  border-radius: 0.8rem 0.8rem 0 0;
}

.recommendations li:last-child,
.other-bookshelves li:last-child {
  border-radius: 0 0 0.8rem 0.8rem;
}

.recommendations li:last-child {
  border-bottom: none;
}

.recommended-title {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  color: var(--main-theme);
}

.recommended-author,
.recommended-pages {
  margin: 0.4rem 0;
  font-size: 1.6rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--paragraph-theme);
}

.other-bookshelves li {
  display: flex;
  gap: 1.2rem;
  padding: 1.2rem 2.4rem;
}

.other-bookshelves img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-account,
.user-name {
  font-size: 1.6rem;
}

.user-account {
  margin-bottom: 0.2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--main-theme);
}

.user-name {
  color: var(--paragraph-theme);
}

@media screen and (orientation: portrait) and (max-width: 47.99rem) {
  dialog {
    padding: 3.2rem 0 2rem;
  }

  .dialog-add,
  .dialog-edit {
    margin: 2rem auto;
  }

  dialog label {
    font-size: 2rem;
  }

  dialog input,
  dialog select,
  dialog option {
    width: 36rem;
    font-size: 1.8rem;
  }

  dialog button {
    width: 16rem;
  }

  .sort-option-btn,
  .wide-btn {
    width: 36rem;
  }

  .header {
    gap: 2.8rem;
    padding: 3.2rem 2.4rem;
  }

  .row-left,
  .row-right {
    gap: 0.8rem;
  }

  .first-header-row label,
  .bell-icon {
    display: none;
  }

  .search-bar {
    width: 32rem;
  }

  .header svg {
    width: 2.8rem;
    height: 2.8rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .main,
  .projects {
    display: flex;
    flex-direction: column;
  }
  
  .main {
    gap: 4rem;
    padding: 2.4rem 0 8rem;
  }

  .projects {
    justify-content: center;
    align-items: center;
  }

  .section-title {
    text-align: center;
    margin: 2rem 0 3.6rem;
  }

  .bookshelf,
  .recommendations,
  .other-bookshelves {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bookshelf {
    gap: 3.2rem;
  }
}

@media screen and (orientation: portrait) and (max-width: 20rem) {
  html {
    font-size: 6px;
  }
}

@media screen and (orientation: portrait) and (min-width: 20.01rem) and (max-width: 47.99rem) {
  html {
    font-size: 7px;
  }
}

@media screen and (orientation: portrait) and (min-width: 24.01rem) and (max-width: 47.99rem) and (min-height: calc(50rem - 80px)) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (orientation: portrait) and (min-width: 24.01rem) and (max-width: 47.99rem) and (min-height: calc(54rem - 80px)) {
  html {
    font-size: 8px;
  }
}

@media screen and (orientation: portrait) and (min-width: 48rem) {
  html {
    font-size: 8.5px;
  }

  .bookshelf {
    padding-bottom: 8rem;
  }
}

@media screen and (orientation: portrait) and (min-width: 48rem) and (min-height: calc(70rem - 80px)) {
  html {
    font-size: 9px;
  }
}

@media screen and (orientation: portrait) and (min-width: 56rem) {
  html {
    font-size: 10px;
  }
}

@media screen and (orientation: portrait) and (min-width: 64rem) {
  html {
    font-size: 11px;
  }
}

@media screen and (orientation: landscape) {
  .bookshelf {
    padding-bottom: 8rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 41rem) {
  html {
    font-size: 6px;
  }
}

@media screen and (orientation: landscape) and (min-width: 41.01rem) and (max-width: 47rem) {
  html {
    font-size: 7px;
  }
}

@media screen and (orientation: landscape) and (min-width: 47.01rem) and (max-width: 53rem) {
  html {
    font-size: 8.5px;
  }
}

@media screen and (orientation: landscape) and (min-width: 53.01rem) and (max-width: 59rem) {
  html {
    font-size: 9px;
  }
}

@media screen and (orientation: landscape) and (min-width: 59.01rem) {
  html {
    font-size: 10px;
  }
}
